{{ form_start(form) }}
{{ form_row(form.name) }}

<ol class="answers"

    data-index="{{ form.answers|length > 0 ? form.answers|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}"
>
    {% for answer in form.answers %}
        <li>{{ form_row(answer.name) }}</li>
    {% endfor %}
</ol>
<button type="button" class="add_item_link btn btn-success" data-collection-holder-class="answers">Add a tag</button>

<button class="btn btn-success">{{ button_label|default('Создать') }}</button>
{{ form_end(form) }}
