{% extends 'base.html.twig' %}

{% block title %}{{ survey.name }}{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="align-bottom d-flex align-items-center justify-content-between">
            <span>{{ survey.name }}</span>

            <span class="float-end d-flex align-items-center">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info d-block " href="{{ path('app_survey_index') }}">К списку</a>

                    <a class="btn btn-success d-block "
                       href="{{ path('app_survey_edit', {'id': survey.id}) }}">Редактировать</a>

                    {{ include('survey/_delete_form.html.twig') }}
                {% endif %}
            </span>
        </h1>
        <h2>Вопросы теста:</h2>
        <div class="card">
            {% if not is_granted('ROLE_ADMIN') %}
                <form method="post" action="{{ url('app_survey_answer', {'id': survey.id}) }}">
                    <ul class="list-group list-group-flush">
                        {% for key, question in survey.questions %}
                            <li class="list-group-item px-2">
                                <p>{{ question.position }} &mdash; {{ question.name }}</p>
                                {% for answer in question.answers %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ answer.id }}" name="result[{{ key }}][id]" id="answer{{ answer.id }}" required>
                                    <label class="form-check-label" for="answer{{ answer.id }}">
                                        {{ answer.text }}
                                    </label>
                                </div>
                                {% endfor %}
                            </li>
                        {% endfor %}
                        <li class="list-group-item px-2">
                            <button class="btn btn-success">Отправить</button>
                        </li>
                    </ul>
                </form>
            {% else %}
                <ul class="list-group list-group-flush">
                    {% for question in survey.questions %}
                        <li class="list-group-item">
                            <p>{{ question.position }} &mdash; {{ question.name }}</p>
                            <ol>
                                {% for answer in question.answers %}
                                    <li>
                                        {{ answer.text }}
                                        {% if answer.valid %}
                                            <span class="ml-1 badge bg-success">верный ответ</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>


{% endblock %}
