{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <div class="col-md-6 col-lg-4 col-sm-12 offset-md-3 offset-lg-4">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Вы уже вошли как {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выйти из
                        системы</a>
                </div>
            {% endif %}

            <h1>Вход в систему</h1>
            <div class="form-row mb-3">
                <label for="inputEmail" class="form-label required">Электронная почта</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
            </div>
            <div class="form-row mb-3">
                <label for="inputPassword" class="form-label required">Пароль</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class="btn btn-success" type="submit">
                Войти
            </button>
        </form>
    </div>

{% endblock %}
